h1{
  color: Salmon;
  font-family:Verdana;
  }
h2{
  color: LightCoral;
  font-family:Verdana;
  }
p{
  font-family:Verdana;
  }
img{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
